/easyOpenGL/.vs/easyOpenGL/FileContentIndex/0f85b09d-c5c7-4e85-975f-fd9302dcb565.vsidx
/easyOpenGL/.vs/easyOpenGL/FileContentIndex/a5054c1e-80c4-4d40-bd9f-8a371cef5871.vsidx
/easyOpenGL/.vs/easyOpenGL/FileContentIndex/f43c1cf6-4c65-46b0-89d9-2fc293cde709.vsidx
/easyOpenGL/.vs/easyOpenGL/FileContentIndex/f5c54662-212e-4717-a673-a8cb5d675489.vsidx
/easyOpenGL/.vs/easyOpenGL/v17/.suo
/easyOpenGL/.vs/easyOpenGL/v17/Browse.VC.db
/easyOpenGL/.vs/easyOpenGL/v17/DocumentLayout.json
/easyOpenGL/.vs/easyOpenGL/v17/fileList.bin
/easyOpenGL/.vs/easyOpenGL/v17/ipch/AutoPCH/fd3ec8cad4ed68ef/MAIN.ipch
/easyOpenGL/easyOpenGL/x64/Debug/Camera.obj
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.exe.recipe
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.ilk
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.log
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.tlog/CL.command.1.tlog
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.tlog/Cl.items.tlog
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.tlog/CL.read.1.tlog
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.tlog/CL.write.1.tlog
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.tlog/easyOpenGL.lastbuildstate
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.tlog/link.command.1.tlog
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.tlog/link.read.1.tlog
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.tlog/link.secondary.1.tlog
/easyOpenGL/easyOpenGL/x64/Debug/easyOpenGL.tlog/link.write.1.tlog
/easyOpenGL/easyOpenGL/x64/Debug/Globals.obj
/easyOpenGL/easyOpenGL/x64/Debug/main.obj
/easyOpenGL/easyOpenGL/x64/Debug/ResourceManager.obj
/easyOpenGL/easyOpenGL/x64/Debug/SceneManager.obj
/easyOpenGL/easyOpenGL/x64/Debug/vc143.idb
/easyOpenGL/easyOpenGL/x64/Debug/vc143.pdb
/easyOpenGL/x64/Debug/easyOpenGL.exe
/easyOpenGL/x64/Debug/easyOpenGL.pdb
